.backTopBtn {
    width: 900px;
    padding: 80px;
    border-radius: 8px;

    font-family: 'Rubik';
    font-weight: 400;
    font-size: 18px;

    cursor: pointer;
    opacity: 0.5;
    background-color: #e5e6e6;
    transition: 0.2s ease-in-out;
}

.backTopBtn:hover {
    opacity: 1;
    border-color: rgb(210, 210, 210);
}