.app {
    /* margin: 20px;
    padding: 10px; */
    display: flex;
    
    justify-content: center;
    /* align-items: center; */
}

.nav_container {
    width: 100%;
    max-width: 250px;
    height: 100%;

    margin-top: 20px;
    padding: 10px;

    z-index: 1;

    /* background-color: aliceblue; */
}

.my_name {
    font-family: 'Expletus Sans';
    font-size: 30px;
    font-weight: bold;

    color: #8e75f3;
}

.heading {
    width: 120px;

    margin-bottom: 10px;

    font-family: 'Expletus Sans';
    font-size: 18px;    

    color: grey;
    opacity: 0.6;
}

.heading:hover {
    opacity: 1.0;
}

.subheading {
    width: 140px;

    margin-bottom: 12px;

    font-family: 'Rubik';  
    font-size: 14px;
    font-weight: 400;

    color: grey;
    opacity: 0.6;
}

.subheading:hover {
    opacity: 1.0;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
