.slideshow {
    position: relative;
    margin: auto;
    /* background-color: rgba(0, 0, 0, 0.6); */
}

.slide {
    display: none;
}

.prev, .next {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    top: 45%;
    height: 35px;
    width: 35px;
    margin: 10px;
    padding: 10px;

    font-size: 35px;
    font-weight: bold;
    text-align: center;

    color: white;
    opacity: 0.6;
    border-radius: 50%;

    transition: 0.3s ease;
    user-select: none;
    /* background-color: rgba(0, 0, 0, 0.6); */
}

.next {
    right: 0;
}

.prev:hover, .next:hover {
    color: white;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.6);
}

.dot {
    display: inline-block;
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    transition: background-color 0.6s ease;
 }

 .active, .dot:hover {
    background-color: #717171;
  }

  